.dialog {
	width: 250px;
	padding: 2px 12px;
	text-align: center;
	background-color: #fcfcfc;
	border-radius: 3px;
	position: relative
}

.dialog .dialog_title, .dialog .dialog_message, .dialog .dialog_content
	{
	margin: 10px 0;
	color: #262626
}

.dialog .dialog_title {
	font-size: 115%;
	font-weight: 700
}

.dialog .dialog_btn_contailer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-top: 1px solid #ebedf0;
	padding-top: 10px
}

.dialog .dialog_btn_contailer.vertical {
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.dialog .btn_dialog {
	width: 100%;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-bottom: 10px;
	font-size: 115%;
	overflow: hidden;
	white-space: nowrap
}

.dialog .btn_dialog.default {
	font-weight: 700
}

.dialog .dialog_close_btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, .15)
}

.dialog .dialog_close_btn .btn_close {
	background-color: transparent
}

.dialog .dialog_close_btn .btn_close:after, .dialog .dialog_close_btn .btn_close:before
	{
	background-color: rgba(0, 0, 0, .4)
}

.overlay_container {
	position: fixed;
	z-index: 100003;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .15);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 100ms;
	-webkit-backface-visibility: hidden
}

.overlay_container:after, .overlay_container:before {
	content: '';
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.overlay_container.unmasked {
	background: transparent;
	pointer-events: none
}

.overlay_container.beforeFadeIn {
	opacity: 0
}

.overlay_container.afterFadeOut {
	opacity: 0
}

.overlay_content_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizon;
	-webkit-flex-flow: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.overlay_content_container:after, .overlay_content_container:before {
	content: '';
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.overlay_content {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 150ms;
	-webkit-transform-origin: 50% 50%;
	pointer-events: auto
}

.btn {
	display: inline-block;
	line-height: 229%;
	background: #f1f3f6 -webkit-gradient(linear, 0 0, 0 100%, from(#f3f5f8),
		to(#eceef0));
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .08);
	border-radius: 2px;
	color: #262626;
	text-align: center;
	margin: 0 .6em 0 0;
	padding: 0 .6em;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.btn:last-child {
	margin-right: 0
}

.btn:active {
	color: #262626;
	background: #e5e7e9
}

.btn_dark {
	color: #fff;
	background: #484d68 -webkit-gradient(linear, 0 0, 0 100%, from(#484d68),
		to(#40455d))
}

.btn_dark:active {
	color: #fff;
	background: #484d68
}

.btn_default {
	color: #fff;
	background: #297ee6 -webkit-gradient(linear, 0 0, 0 100%, from(#2b83ef),
		to(#2677db))
}

.btn_default:active {
	color: #fff;
	background: #2677db
}

.btn_important {
	color: #fff;
	box-shadow: none;
	background: #f86262 -webkit-gradient(linear, 0 0, 0 100%, from(#f86262),
		to(#e75858))
}

.btn_important:active {
	color: #fff;
	background: #e75858
}

.btn_success {
	color: #fff;
	background: #65b217 -webkit-gradient(linear, 0 0, 0 100%, from(#6dc219),
		to(#65b217))
}

.btn_success:active {
	color: #fff;
	background: #65b217
}

.btn:disabled, .btn_disabled, .btn_disabled:active {
	background: #f1f3f6;
	color: #ccc
}

.blue_kit {
	background: #262b42;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	text-align: center;
	position: relative;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1
}

.blue_kit_left {
	position: absolute;
	top: 0;
	left: 0
}

.blue_kit_right {
	position: absolute;
	top: 0;
	right: 4px
}

.blue_kit, .blue_kit a {
	color: #cfd8e5
}

.blue_kit_btn:last-child {
	margin-right: 0
}

.blue_kit_btn {
	float: left;
	height: 44px;
	position: relative;
	padding: 0 8px;
	color: #d1daea;
	font-size: 16px;
	-webkit-tap-highlight-color: transparent
}

.blue_kit_btn:active {
	background-color: #171F31
}

.blue_kit_btn+.blue_kit_btn:after {
	content: '';
	position: absolute;
	height: 22px;
	width: 0;
	top: 50%;
	left: -1px;
	margin-top: -11px;
	border-left: 1px solid #222;
	border-right: 1px solid #FFF;
	opacity: .2
}

.blue_kit_btn_return {
	background: 0 0;
	border: 0;
	padding: 0 8px 0 24px;
	margin-left: -8px;
	min-width: 1em
}

.blue_kit_btn_return:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 19px;
	border: 2px solid #d1daea;
	border-width: 2px 0 0 2px;
	width: 15px;
	height: 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: -8px 0 0 -8px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.blue_kit_btn_logo {
	display: inline-block;
	height: 36px;
	width: 28px;
	font-size: 28px;
	padding-top: 8px
}

.blue_kit_text {
	vertical-align: top;
	display: inline-block;
	font-size: 18px;
	margin-left: 6px
}

.blue_kit_btn_back {
	padding-left: 18px
}

.blue_kit_btn_back:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 10px;
	border: 2px solid #a3b4cc;
	border-width: 2px 0 0 2px;
	width: 8px;
	height: 8px;
	margin: -5px 0 0 0;
	-webkit-transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);
	transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0)
}

.blue_kit_btn_return:empty:after {
	content: '返回'
}

.ui_checkbox {
	opacity: 0;
	width: 2em;
	height: 0;
	margin: 0;
	font-size: 100%
}

.ui_checkbox+label {
	position: relative
}

.ui_checkbox+label:before {
	content: '';
	color: #fff;
	text-align: center;
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	left: -1.7em;
	top: 50%;
	margin-top: -.7em;
	box-sizing: border-box;
	border: 1px solid #dfe1e3;
	border-radius: 100%;
	font-family: sans-serif
}

.ui_checkbox:checked+label:before {
	border: 0;
	background: #36a3f0
}

.ui_checkbox:checked+label:after {
	content: '';
	width: .6em;
	height: .32em;
	border: 0 solid #FFF;
	border-width: 0 0 .18em .18em;
	-webkit-transform: rotate(-45deg);
	position: absolute;
	left: -1.38em;
	top: 50%;
	margin-top: -.34em
}

.ui_checkbox:disabled+label:before {
	background: #f6f6f6;
	color: #d0d0d0;
	border: 1px solid #dfe1e3
}

.ui_checkbox:disabled:checked+label:after {
	border-color: #d0d0d0
}

.ui_search {
	position: relative;
	background: #eceef0;
	padding: 6px 10px;
	border-bottom: 1px solid #EAEBEC
}

.ui_search [class^=icon_], .ui_search [class*=" icon_"] {
	position: absolute;
	font-size: 16px;
	top: 50%;
	padding-left: 8px;
	margin-top: -8px;
	color: #b2b3b5;
	pointer-events: none
}

.ui_search_textbox {
	-webkit-appearance: none;
	font-size: 14px;
	height: 32px;
	width: 100%;
	padding: 0 6px 0 28px;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #cfd3d9;
	border-radius: 0
}

@font-face {
	font-family: moicon;
	src: url(./font/moicon_cb527d7.eot);
	src: url(./font/moicon_cb527d7.eot) format('embedded-opentype'),
		url(./font/moicon_2af3d33.woff) format('woff'),
		url(./font/moicon_b3472da.ttf) format('truetype'),
		url(./font/moicon_66b530f.svg) format('svg');
	font-weight: 400;
	font-style: normal
}

[class^=icon_], [class*=" icon_"] {
	font-family: moicon;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon_check_outline:before {
	content: "\e600"
}

.icon_check:before {
	content: "\e601"
}

.icon_cog:before {
	content: "\e602"
}

.icon_menu:before {
	content: "\e603"
}

.icon_plus:before {
	content: "\e604"
}

.icon_police:before {
	content: "\e605"
}

.icon_reply:before {
	content: "\e606"
}

.icon_search:before {
	content: "\e607"
}

.icon_sign:before {
	content: "\e608"
}

.icon_sort:before {
	content: "\e609"
}

.icon_star_outline:before {
	content: "\e60a"
}

.icon_star:before {
	content: "\e60b"
}

.icon_thumb_outline:before {
	content: "\e60c"
}

.icon_thumb:before {
	content: "\e60d"
}

.icon_tieba_logo:before {
	content: "\e60e"
}

.icon_transfer:before {
	content: "\e60f"
}

.post_list_item, .list_item {
	display: block
}

.post_list_item:first-child, .list_item:first-child {
	border-top: 0
}

.post_item_link, .list_item_link, .list_item_wrapper {
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eaebec;
	margin: 0 10px;
	padding: 4px 0
}

:not (.default_feedback )>.post_list_item:not (.default_feedback ) .post_item_link,
	:not (.default_feedback )>.list_item:not (.default_feedback ) .list_item_link
	{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

:not (.default_feedback )>.post_list_item:not (.default_feedback ):active .post_item_link,
	:not (.default_feedback )>.list_item:not (.default_feedback ):active .list_item_link,
	:not (.default_feedback )>.list_item:not (.default_feedback ):active .list_item_wrapper
	{
	border-color: transparent
}

:not (.default_feedback )>.post_list_item:not (.default_feedback ):active,
	:not (.default_feedback )>.list_item:not (.default_feedback ):active {
	background-color: #EEE
}

.clearfix:after {
	content: '';
	display: table;
	clear: both
}

.toast {
	width: 210px;
	padding: 16px;
	font-size: 16px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, .9);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	z-index: 100000
}

body, dl, dd, dt, ul, div, html, p, form {
	margin: 0;
	padding: 0
}

html {
	background-color: #fff;
	-webkit-text-size-adjust: none
}

body {
	line-height: 130%;
	font-size: 14px;
	font-family: arial;
	word-wrap: break-word;
	background: #fafbfc;
	position: relative
}

ul, li {
	list-style: none
}

a {
	color: #3361a7;
	text-decoration: none
}

img {
	border: 0
}

.fl {
	float: left
}

.block {
	display: block
}

.none {
	display: none
}

.fr {
	float: right
}

.cent {
	text-align: center
}

.ppp {
	position: relative
}

.ppp-left {
	position: absolute;
	left: 0;
	top: 0
}

.ppp-right {
	position: absolute;
	right: 0;
	top: 0
}

.i-ary-top {
	border-color: transparent transparent #EDF1FC;
	border-width: 0 8px 8px;
	border-style: solid;
	width: 0;
	font-size: 0;
	height: 0;
	display: inline-block
}

.separator {
	color: #C4DDF6
}

.arrow:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%
}

.arrow_transition:after {
	-webkit-transition: -webkit-transform .3s ease-in
}

.arrow_inline:after {
	position: static;
	display: inline-block
}

.arrow_line:after {
	border: 2px solid #CCD0D6;
	border-width: 1px 0 0 1px;
	width: 9px;
	height: 9px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: -3px 0 0 -3px;
	-webkit-transform-origin: 33.3% 33.3%;
	-ms-transform-origin: 33.3% 33.3%;
	transform-origin: 33.3% 33.3%
}

.arrow_line.arrow_up:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.arrow_line.arrow_right:after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg)
}

.arrow_line.arrow_down:after {
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg)
}

.arrow_line.arrow_left:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.arrow_solid:after {
	border: 4px solid;
	border-color: #000 transparent transparent;
	margin: -2px 0 0 -4px;
	-webkit-transform-origin: 50% 25%;
	-ms-transform-origin: 50% 25%;
	transform-origin: 50% 25%
}

.arrow_solid.arrow_up:after {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.arrow_solid.arrow_right:after {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

.arrow_solid.arrow_left:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.arrow_position_right:after {
	left: auto;
	right: 10px
}

.global_icon, .global_icon_before:before, .global_icon_after:after,
	.level {
	background-image: url(./images/new_sglobal_icon_89f6b7d.png);
	background-repeat: no-repeat;
	-webkit-background-size: 70px auto;
	background-size: 70px auto
}

.level {
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 16px;
	text-align: center;
	font-size: 10px;
	color: #fff;
	vertical-align: middle
}

.level_1, .level_2, .level_3 {
	background-position: 0 -127px
}

.level_4, .level_5, .level_6, .level_7, .level_8, .level_9 {
	background-position: 0 -155px
}

.level_10, .level_11, .level_12, .level_13, .level_14, .level_15 {
	background-position: 0 -183px
}

.level_16, .level_17, .level_18 {
	background-position: 0 -211px
}

.female {
	background-position: 0 -492px
}

.male {
	background-position: 0 -510px
}

.forum_like {
	position: absolute;
	width: 72px;
	height: 48px;
	top: 50%;
	right: 0;
	margin-top: -24px;
	line-height: 48px;
	background-position: 0 -264px
}

.forum_like[data-liked='1'] {
	background-position: 0 -312px
}

.bawu_manager, .bawu_assist {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-top: -2px
}

.bawu_manager {
	background-position: 0 -72px
}

.bawu_assist {
	background-position: 0 -56px
}

.btn_more, .btn_less {
	display: block;
	line-height: 28px;
	padding: 8px 0;
	text-align: center;
	color: #3361a7;
	cursor: pointer;
	font-size: 12px
}

.post_list_item+.btn_more, .post_list_item+.no_more {
	margin-left: 8px;
	margin-right: 8px;
	border-top: 1px solid #FFF
}

.btn_more:before, .btn_less:before {
	content: '';
	display: inline-block;
	border: 1px solid #3361a7;
	border-width: 1px 0 0 1px;
	width: 9px;
	height: 9px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform-origin: 33% 33%;
	-ms-transform-origin: 33% 33%;
	transform-origin: 33% 33%;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	vertical-align: middle;
	margin: 2px 6px 0 0
}

.btn_less:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.no_more {
	display: block;
	font-size: 12px;
	line-height: 28px;
	padding: 12px 0;
	text-align: center;
	color: #666;
	border-color: transparent;
	background-color: transparent
}

.btn_close {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	-webkit-transform: rotate(45deg);
	width: 20px;
	height: 20px;
	-webkit-border-radius: 10px;
	background-color: rgba(0, 0, 0, .4)
}

.btn_close:before, .btn_close:after {
	content: '';
	position: absolute;
	background: #fff;
	left: 50%;
	top: 50%
}

.btn_close:before {
	height: 13px;
	width: 1px;
	margin: -6px 0 0
}

.btn_close:after {
	width: 13px;
	height: 1px;
	margin: 0 0 0 -6px
}

.region_head {
	display: block
}

.region_head_withicon {
	padding-left: 30px
}

.post_list_item:last-child {
	border-bottom: 0
}

.post_list_item a:visited, .post_list_item:visited {
	color: #531f74
}

.thread_num_icon, .portait_icon {
	padding-left: 18px;
	margin: 0 4px;
	background: left center no-repeat;
	background-size: 12px 12px
}

.thread_num_icon {
	background-image: url('9S6x9AHtej4JiI20WAAAAAElFTkSuQmCC')
}

.portait_icon {
	background-image: url('ZIgG+DsA5yCr06AkNBgAAAAASUVORK5CYII=')
}

.post_list_item_title {
	display: block;
	word-break: break-all;
	font-size: 16px;
	line-height: 21px;
	margin: 6px 0
}

.post_abstract_media {
	margin: 6px 0
}

.post_abstract_text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 6px 0;
	color: #555;
	font-size: 14px
}

.post_list_item_info {
	margin: 6px 0 4px;
	color: #a3a8ad;
	font-size: 12px;
	line-height: 24px
}

.post_list_item_info_right {
	float: right
}

.post_item_info_time, .post_item_info_reply, .post_item_info_author,
	.post_item_info_forum, .post_item_info_tag {
	display: inline-block;
	padding-left: 0;
	background: transparent
}

.post_item_info_time_icon, .post_item_info_reply_icon,
	.post_item_info_reply_icon_light, .post_item_info_author_icon,
	.post_item_info_forum_icon, .post_item_info_forum_icon_grey,
	.post_item_info_tag_icon {
	display: inline-block;
	background-size: 16px 16px;
	padding-left: 19px;
	background-position: left center;
	background-repeat: no-repeat
}

.post_item_info_reply_icon {
	background-image: url('P+evwAAAABJRU5ErkJggg==');
	color: #3361a7
}

.post_item_info_reply_icon_light {
	background-image: url('YSnIAAAAASUVORK5CYII=');
	color: #a9aeb3
}

.post_item_info_forum_icon {
	background-image: url('qjEeIf5AAAAABJRU5ErkJggg==')
}

.post_item_info_forum_icon_grey {
	background-image: url('BBgA3s703031s7wAAAAASUVORK5CYII=')
}

.post_item_info_tag_icon {
	background-image:
		url('1Ewway66UjodC8TQX6QgcComfW0RzBHpltjLaDmBeK2Xu8+ggik2zlHkCgiyyAy4JQj8AzzSLmA83I2EegTs615kWYFbUpILALZ1vX4Ma6j4xcwW8lHp8Wo72VoFJnwM3ZUHolaOunmesx8AFJy1tNWhp4hjjDnDCi5StATJDmVGsgtoX5K7Ri+aO0qZyCpRPJJy1HnR2F9ZaPSJO0QSbMugZy63MdhCNRMy7MvjyM8+FRRCV5CwYZdThkWkLUV')
}

.post_list_item_icon {
	display: inline-block;
	border-radius: 2px;
	line-height: 12px;
	font-size: 12px;
	padding: 2px;
	border: 1px solid #3381e3;
	color: #3381e3;
	vertical-align: middle;
	margin-right: 5px
}

.notification {
	display: initial;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 14px;
	height: 14px;
	line-height: 14px;
	padding: 0 4px;
	margin: 0 3px;
	border-radius: 2px;
	font-size: 10px;
	font-weight: 400;
	color: #FFF;
	background: #f66a38 -webkit-gradient(linear, 0 0, 0 100%, from(#fb7a4d),
		to(#f15b24));
	box-shadow: none;
	text-shadow: none;
	vertical-align: middle
}

.smodemore {
	padding: 16px
}

.smodemore>div {
	width: 160px;
	height: 33px;
	font-size: 16px;
	line-height: 33px;
	color: #000;
	background-color: #f7f7f7;
	border: 1px solid #d2d2d2;
	text-align: center;
	margin: 0 auto
}

.ui-refresh-down {
	height: 1px
}

.grid {
	overflow: hidden
}

.grid_container {
	margin: -1px
}

.grid_container:after {
	content: '';
	display: table;
	clear: both
}

.grid_item {
	float: left;
	background: #fcfcfc;
	border: 1px solid #fefefe;
	border-color: #fefefe #ebebeb #ebebeb #fefefe;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.grid_item:not (:empty ):active {
	background-color: #e8eaec;
	border-color: #E0E0E0 #F8F8F8 #F8F8F8 #E0E0E0
}

.grid_2 .grid_item {
	width: 50%
}

.grid_3 .grid_item {
	width: 33.33%
}

.shadow {
	-webkit-box-shadow: #666 0 0 2px;
	box-shadow: #666 0 0 2px
}

.shadow_inset {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset
}

.clear_highlight {
	-webkit-tap-highlight-color: transparent
}

.img_background_style {
	background: center 20% no-repeat;
	background-size: cover
}

.tab {
	border: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: center
}

.tab_item {
	width: 100%;
	display: block;
	margin: 0;
	line-height: 180%;
	padding: 4px 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-tap-highlight-color: transparent
}

.tab_default {
	padding: 5px 8px;
	background: #f7f9fa;
	border-bottom: 1px solid #f0f1f2
}

.tab_default .tab_item {
	width: 104px;
	border: 1px solid #e5e7e9;
	border-width: 1px 1px 1px 0
}

.tab_default .tab_item:active {
	background: rgba(0, 0, 0, .03)
}

.tab_default .tab_item.active {
	background: #e5e7e9;
	color: #262626;
	-webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, .2) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset;
	border: 0;
	padding: 5px 1px
}

.tab_default .tab_item.active:not (:first-child ){
	border-left-width: 1px;
	margin-left: -1px
}

.tab_default .tab_item:first-child {
	border-radius: 3px 0 0 3px;
	border-left-width: 1px
}

.tab_default .tab_item:last-child {
	border-radius: 0 3px 3px 0
}

.tab_holo {
	border-bottom: 1px solid #f0f1f2
}

.tab_holo .tab {
	padding: 0
}

.tab_holo .tab_item {
	position: relative
}

.tab_holo .tab_item:active {
	background: rgba(0, 0, 0, .03)
}

.tab_holo .tab_item:not (:first-child ):before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 18px;
	margin-top: -9px;
	background-color: #eee
}

.tab_holo .tab_item.active {
	background-color: transparent;
	color: #3381e3
}

.tab_holo .tab_item.active:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 90%;
	margin-left: -45%;
	background-color: #3381e3
}

.tab_holo .tab_item_num {
	display: block;
	font-size: 14px
}

.tab_holo .tab_item_title {
	display: block;
	font-size: 12px
}

.ui_textbox {
	-webkit-appearance: none;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	width: 100%;
	padding-left: 13px;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #cfd3d9;
	border-radius: 4px;
	color: #abaeb3
}

.ui_textarea {
	-webkit-appearance: none;
	font-size: 14px;
	width: 100%;
	padding: 13px 0 0 13px;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #cfd3d9;
	border-radius: 4px;
	color: #abaeb3;
	overflow: auto
}

.module_head {
	padding: 10px 0 10px 15px
}

.module_head h1 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	color: #313233
}

.collapse_head {
	position: relative
}

.collapse_head .arrow, .collapse_head.arrow {
	display: block;
	padding-right: 30px;
	color: #3B3B3B
}

.collapse_head .arrow:after, .collapse_head.arrow:after {
	left: auto;
	right: 7px;
	border-color: #999
}

.tab_head {
	display: -webkit-box;
	display: box
}

.tab_head_item {
	display: block;
	width: 100%;
	-webkit-box-flex: 1;
	box-flex: 1;
	cursor: pointer
}

.dia_mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .6);
	z-index: 100003
}

.dia_wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 280px;
	margin-top: -75px;
	margin-left: -140px;
	background-color: #f2f2f2;
	border: 1px solid #c6c6c6;
	z-index: 100004;
	-webkit-tap-highlight-color: transparent;
	border-radius: 4px
}

.dia_title {
	margin: 15px 0 8px;
	font-size: 16px;
	line-height: 16px;
	color: #333;
	text-align: center
}

.dia_content {
	margin: 0 20px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	text-align: center
}

.dia_btnwrapper {
	text-align: center
}

.dia_btn {
	display: inline-block;
	width: 106px;
	height: 34px;
	margin: 10px 6px;
	border: 1px solid #d2d2d2;
	background-color: #f7f7f7;
	font-size: 16px;
	line-height: 34px;
	color: #333;
	text-align: center
}

.dia_cancelbtn {
	
}

.dia_okbtn {
	border: 1px solid #135cbe;
	background-color: #3b89f6;
	color: #fff
}

.dia_btn_l1 {
	width: 180px
}

.dia_btn_l2 {
	width: 106px
}

.dia_btn_l0 {
	
}

.dia_closebtn_container {
	position: absolute;
	right: -20px;
	top: -20px;
	padding: 6px
}

.dia_closebtn {
	display: block;
	width: 28px;
	height: 28px;
	-webkit-transform: rotate(45deg);
	-webkit-border-radius: 14px;
	-webkit-user-select: none;
	background-color: #fafafa;
	-webkit-box-shadow: 0 6px 6px -2px #999
}

.dia_closebtn:before {
	content: '';
	position: absolute;
	height: 16px;
	width: 2px;
	background: #c6c6c6;
	left: 13px;
	top: 6px
}

.dia_closebtn:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 2px;
	left: 6px;
	top: 13px;
	background: #c6c6c6
}

.loading {
	height: 40px;
	width: 40px;
	position: fixed;
	margin: -20px 0 0 -20px;
	left: 50%;
	top: 50%;
	z-index: 99999;
	-webkit-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left: 4px solid rgba(47, 60, 87, .15);
	border-right: 4px solid rgba(47, 60, 87, .15);
	border-bottom: 4px solid rgba(47, 60, 87, .15);
	border-top: 4px solid rgba(47, 60, 87, .75);
	border-radius: 100%
}

@
-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(359deg)
}

}
@
keyframes rotation {
	from {-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg)
}

}
.loadingmore {
	background: url(loading_64b897e.gif) center center no-repeat
}